*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0.2),rgba(0,0,0,0.5)) ,url(img/hero.jpg);
    background-size: 100%;
    background-position: center;
}

nav{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
nav .logo{
    margin-left: 150px;
    display: flex;
    align-items: center;
}
nav ul{
    margin-right: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    list-style: none;
}
nav ul li {
    font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
}
nav .logo img{
    width: 100px;
    height: 100px;
}
.nav_intro{
    width: 50%;
    position:absolute;
    left: 15%;
    top: 40%;
}
.nav_intro p {
    color: white;
    font-size: 48px;
    white-space: 2px;
    letter-spacing: 2px;
}
.btn-ghost:link, .btn-ghost:visited {
    border: solid 1px #e67e22;
    color: #e67e22;
}
.btn-full:link, .btn-full:visited, input[type=submit] {
    background-color: #e67e22;
    border: solid 1px #e67e22;
    color: #fff;
    margin-right: 15px;
}
.btn:link, .btn:visited, input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
a:link, a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
