*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0.2),rgba(0,0,0,0.5)) ,url(img/hero.jpg);
    background-size: 100%;
    background-position: center;
}

nav{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
nav .logo{
    margin-left: 150px;
    display: flex;
    align-items: center;
}
nav ul{
    margin-right: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    list-style: none;
}
 nav ul li {
    font-size: 25px;
    font-weight: 300;
}
nav ul li a:hover{
    color: orange;
    border-bottom:1px solid orange;
    transition: color 0.75s, border 0.5s;
}
a{
    color: white;
    text-decoration: none;
}
nav .logo img{
    width: 100px;
    height: 100px;
}
.nav_intro{
    width: 50%;
    position:absolute;
    left: 15%;
    top: 40%;
}
.nav_intro p {
    color: white;
    font-size: 48px;
    white-space: 2px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.nav_intro a {
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 20px;
    border: 2px solid orange;
    transition: background 0.25s, color 0.5s;
}
.nav_intro a:nth-child(3) {
    margin-left: 25px;
    color: orange;
}
.nav_introa:nth-child(2){
    background: orange;
}
.nav_intro:nth-child(2):hover{
    background: transparent;
    color: orange;
    transition: background 0.25s, color 0.5s;

}
.nav_introa:nth-child(3){
    color: white;
    background: orange;
    transition: background 0.25s, color 0.5s;
}
.title{
    font-size: 38px;
    color: gray;
    font-weight: 300;
    text-align: center;
    margin-top: 60px ;
    text-transform: uppercase;
    white-space: 0.5px;
    letter-spacing: 0.5px;
}
.title::after{
    content: "";
    width: 120px;
    height: 2px;
    background: orange;
    

}



